* {
    margin: 0;
    padding: 0;
}

.view-button {
    color: #6c757d;
} 

.view-button:hover {
    color: white;
}

.tags {
    font-weight: bold;
    text-align: center;
} 

.project-description h1 {
    font-size: 80px;
} 

.carousel-control-next-icon {
    background-color: black;
} 

.carousel-control-prev-icon {
    background-color: black;
} 

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.35);
} 

body{
    background-color: rgba(0, 0, 0, 0.08)!important;
} 

.nav li:first-child a {
    font-size: 20px;
    margin-right: 128px;
} 

.card img {
    max-height: 204px;
} 

.border-button{
    border-color: black!important;
} 

.border-button:hover{
    background-color: rgba(0, 0, 0, 0.08)!important;
} 