* {
    margin: 0;
    padding: 0;
}

.view-button {
    color: #6c757d;
} 

.view-button:hover {
    color: white;
}

.btn-group button:hover .view-button {
    color: white;
}

.tags {
    font-weight: bold;
    text-align: center;
} 

.project-description h1 {
    font-size: 80px;
} 

@media only screen and (max-width: 600px) {
    .project-description h1 {
        font-size: 58px;
    } 
}

.carousel-control-next-icon {
    background-color: black;
} 

.carousel-control-prev-icon {
    background-color: black;
} 

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.35);
} 

body{
    background-color: rgba(0, 0, 0, 0.08)!important;
} 

.nav li:first-child a {
    font-size: 20px;
    margin-right: 128px;
} 

nav > div > div > .text-end {
    font-size: 20px;
    text-align: right;
} 

.card img {
    max-height: 204px;
} 

.border-button{
    border-color: black!important;
} 

.border-button:hover{
    background-color: rgba(0, 0, 0, 0.08)!important;
} 

.testag{
    background-image: url(../img/herbe_2.png);
}